* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100vw;
    font-family: 'Inter', sans-serif;
}

header {
    padding: 25px;
}

#toplayer {
    overflow-y: scroll;
    height: 85vh;
}

#notification {
    position: absolute;
    top: 30px;
    right: 30px;
}

#badge {
    margin-top: 70px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

#badge h1 {
    font-size: 1.3rem;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin-bottom: 3px;
}

#badge div {
    line-height: 1.5;
}

#badge div p {
    font-size: 0.8rem;
    word-spacing: 1px;
    letter-spacing: 1px;
}

footer {
    width: 100vw;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding:25px;
}

footer div {
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    background-color: #cccccc;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.violet {
    background-color: #651fff;
}

footer img {
    width: 20px;
    height: 20px;
}

#metric {
    background-color: rgba(192, 192, 192, 0.1);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#metric h1 {
    font-size: 1.7rem;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin-bottom: 3px;
    font-family: 'Roboto', sans-serif;
}

#metric1 h3 {
    margin-bottom: 8px;
    font-size: 1.1rem;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-weight: 600;
}

#metric2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#metric2 h3 {
    font-size: 1.1rem;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 5px;
}

#metric button {
    background-color: #651fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    font-size: 0.8rem;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
}

#metric h4 {
    font-size: 0.8rem;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-weight: 700;
    opacity: 0.5;
}

#transaction {
    background-color: rgba(192, 192, 192, 0.1);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 25px 0;
}

.transaction {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(192, 192, 192, 0.4);
}

.transaction h4:first-child {
    opacity: 0.5;
}

main {
    padding: 10px 25px;
}

main section {
    padding: 25px;
}

#main-section-1 h4 {
    font-size: 1rem;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-weight: bolder;
    margin-bottom: 5px;
    color: #651fff;
}

#main-section-1 h2 {
    font-size: 1.5rem;
    word-spacing: 1px;
    letter-spacing: 1px;
}

#main-section-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#main-section-2 h1 {
    font-family: 'Roboto', sans-serif;
}

#main-section-2 h5 {
    opacity: 0.5;
    font-size: 0.9rem;
    margin-top: 5px;
}

#main-section-2 > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-section-2 > div:first-of-type {
    border-bottom: 2px solid rgba(192, 192, 192, 0.4);
    padding-bottom: 15px;
}

#main-section-2 > div:nth-of-type(2) div {
    width: 45%;
    border-bottom: 2px solid rgba(192, 192, 192, 0.4);
    padding-bottom: 15px;
}