* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100vw;
    font-family: 'Inter', sans-serif;
}

header {
    width: 100vw;
    padding: 25px;
}

#toplayer {
    overflow-y: scroll;
    height: 85vh;
}

#notification {
    position: absolute;
    top: 25px;
    right: 25px;
}

#badge {
    margin-top: 70px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

#badge h1 {
    font-size: 1.3rem;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin-bottom: 3px;
}

#badge div {
    line-height: 1.5;
}

#badge div p {
    font-size: 0.8rem;
    word-spacing: 1px;
    letter-spacing: 1px;
}

footer {
    width: 100vw;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding:25px;
}

footer div {
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    background-color: #cccccc;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.violet {
    background-color: #651fff;
}

footer img {
    width: 20px;
    height: 20px;
}

#metric {
    background-color: rgba(192, 192, 192, 0.1);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#metric h1 {
    font-size: 1.7rem;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin-bottom: 3px;
    font-family: 'Roboto', sans-serif;
}

#metric1 h3 {
    margin-bottom: 8px;
    font-size: 1.1rem;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-weight: 600;
}

#metric2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#metric2 h3 {
    font-size: 1.1rem;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 5px;
}

#metric button {
    background-color: #651fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    font-size: 0.8rem;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
}

#metric h4 {
    font-size: 0.8rem;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-weight: 700;
    opacity: 0.5;
}